<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
<label>Name: <input type="text" name="name"> </label><br>
<br>
<label>Email: <input type="text" name="email"> </label><br>
<br>
<label>Password: <input type="password" name="password"> </label><br> 
<br>
<input type="submit" value="Sign Up"> </label><br> 